html, body { height: 100%; margin: 0;
  font-family: 'roboto', sans-serif;
}
    body {background: url('assets/7vnw19dzivpd1.jpg') ;
    background-size: cover;
    min-height: 100vh;
  }
  .content { background: rgba(255,255,255,0.75); padding: 1rem; border-radius: 8px; max-width: 1000px; margin: 0 auto;
  }
  img { max-width: 100%; height: auto;
  }
  hr {
  border-color:rgba(5, 2, 1, 0.488) ;
}
.cheese-ham{background-color: rgb(0, 0, 0); position: fixed; border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px; 
  width: 200px;
  height: 150px;
}
.nugget{background-color: bisque;
font-style: oblique;
}
.cheese-ham:hover{
  background-color: rgb(255, 255, 255); border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
}
.grid-container{display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
gap: 15px;
justify-content: center;
max-width: 1800px;
margin: 0 auto;
padding: 10px;
position: relative;
border-radius: 8px;
}
.grid-container-2{display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
gap: 15px;
justify-content: center;
max-width: 1800px;
margin: 0 auto;
padding: 10px;
position: relative;
border-radius: 8px;
}
.grid-container-3{display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
gap: 5px;
justify-content: center;
max-width: 1800px;
margin: 0 auto;
padding: 10px;
position: relative;
border-radius: 8px;
}
.grid-container-4{display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
gap: 5px;
justify-content: center;
max-width: 2000px;
margin: 0 auto;
padding: 10px;
position: relative;
border-radius: 8px;
}
.grid-container-5{display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
gap: 5px;
justify-content: center;
max-width: 2000px;
margin: 0 auto;
padding: 10px;
position: relative;
border-radius: 8px;
}
.grid-1{display: flex;
flex-direction: column;
grid-column: span 1;
}
.grid-2{display: flex;
flex-direction: column;
grid-column: span 1;
}
.grid-3{display: flex;
flex-direction: column;
grid-column: span 1;
}
.grid-4{display: flex;
flex-direction: column;
grid-column: span 1;
}
.grid-5{display: flex;
flex-direction: column;
grid-column: span 1;
}
.grid-6{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-7{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-8{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-9{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-10{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-11{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-12{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-13{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-14{display: flex;
flex-direction: column;
grid-column: span 2;
}
.grid-15{display: flex;
flex-direction: column;
grid-column: span 2;
}
.vindicta{position: relative;
}
.mo{position: relative;
}
.dynamo{position: relative;
}
.lash{position: relative;
}
.haze{position: relative;
}
.Schwanz{text-align: center;
}
.Ass{text-align: center; font-size: 30px;
}
.test{position: absolute; left: 310px; position: absolute; bottom: 470px;
}
.lol{position: absolute; left: 270px; position: absolute; bottom: 250px;
}
.lol:hover{transform: scale(1.5);
}
.lol::after{
  content: '';
  background: linear-gradient(to right, red, blue);
  border-radius: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  transition: 100ms;
}
.lol:hover::after{
  width: 0;
}
.test2{position:absolute; left: 290px; bottom: 750px;
}
.Anti{position: absolute; left: 300px; position: absolute; bottom:600px
}
.Anti:hover{transform: scale(2.0);
}
.Anti::after{
  content: '';
  background: linear-gradient(to right, red, blue);
  border-radius: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  transition: 100ms;
}
.Anti:hover::after{
  width: 0;
}
.test3{position: absolute; left: 2070px; bottom: 750px;
}
.Goon{position: absolute; right: 250px; position: absolute; bottom: 250px;
}
.Goon:hover{transform: scale(1.5);
}
.Goon::after{
  content: '';
  background: linear-gradient(to right, red, blue);
  border-radius: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  transition: 100ms;
}
.Goon:hover::after{
  width: 0;
}
.test4{position: relative; left: 2130px; top: 250px;
}
.Index{position: absolute; right: 300px; position: absolute; bottom: 600px; width: 100px; height: 100px;
}
.Index:hover{transform: scale(1.8);
}
.Index::after{
  content: '';
  background: linear-gradient(to right, red, blue);
  border-radius: 100px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  transition: 100ms;  
}
.Index:hover::after{
  width: 0;
}
.navbar{background: black;
padding-right: 15px; padding-left: 15px;
position: relative; top: -350px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.vote{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}